<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: default (pageTitle='PatientOverview')">
</head>
<body>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Category</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pat : ${patients}">
        <th scope="row" th:text="${pat.patientNumber}"></th>
        <td th:text="${pat.name}"></td>
        <td th:text="${pat.status.displayValue}"></td>
        <td th:text="${pat.category.displayValue}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>